body {
    font-family: sans-serif;
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%; /* Definir largura máxima para manter o conteúdo dentro de uma largura razoável */
    margin: 100px auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center; /* Centralizar o texto */
}
.options {
    /*display: flex;*/
    flex-direction:column; /* Alterado para 'column' para empilhar os botões */
    align-items: center; /* Centralizar os botões horizontalmente */
}
.button {
    width: 100%; /* Faz cada botão ocupar toda a largura do contêiner */
    max-width: 150px;
    height: 6vh;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 600px) {
    /* Ajustes para telas menores */
    .container {
        padding: 10px;
    }
    .title {
        font-size: 20px;
    }
    .button {
        width: 80%;
        max-width: none;
    }
}
