body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background-image: url("./src/back.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: #eeeeee;
  touch-action: manipulation;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 70vw;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
}

#choicesChart {
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
}

.container img {
  width: 200px;
  height: 230px;
}

.title {
  font-size: 4vw;
  font-weight: bold;
  margin: 20px 0;
  color: #000000;
}

.question {
  font-size: 1.5vw;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #0b0b0b;
}

.button {
  width: 100%;
  max-width: 400px;
  font-weight: bold;
  height: 80px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 5px;
}

.buttonfim {
  width: 100%;
  max-width: 90px;
  font-weight: bold;
  height: 40px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 5px;
}

.buttoon {
  width: 100%;
  max-width: 150px;
  font-weight: bold;
  height: 6vh;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 253, 253);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 5px;
}

.texto {
  margin-top: 10px;
}

.emo h1 {
  color: #FF0000;
}

.men h1 {
  color: #0070C0;
}

.ins h1 {
  color: #00B050;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.button:hover {
  background-color: black;
  color: #FFF;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: none;
}

#reminder-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: none;
}

.popup-content {
  text-align: center;
}

.popup-content p {
  margin: 20px 0;
  font-size: 1.2em;
}

.popup-content button {
  width: 100%;
  max-width: 400px;
  font-weight: bold;
  height: 50px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 5px;
}

.popup-content button:hover {
  background-color: #333;
}

.justified-text {
  text-align: justify;
  line-height: 1.5;
  margin: 0px;
}




.org{
  color: #7030A0;
}

.srv{
color: #E46C0A;
}

.real{
  color: #0070C0;
}

.roma{
color: #FFC000;
}

.observador{
  color: #953735;
}

.questionador{
 color: #948A54;
}

.sonhador{
color: #00B050;
}

.confrontador{
color: #C00000;
}

.intermediador{
  color: #000000;
}

@media screen and (max-width: 450px) {
  .container {
    padding: 40px;
  }
  .question {
    font-size: 3vw;
  }
  .button {
    height: 60px;
  }

  h1 {
    font-size: 23px; /* Ajuste para dispositivos móveis */
  }

  h2 {
    font-size: 20px; /* Ajuste para dispositivos móveis */
  }

  h3 {
    font-size: 16px; /* Ajuste para dispositivos móveis */
  }

  p{
    font-size: 14px; /* Ajuste para dispositivos móveis */
  }
}