body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url("../src/bgg.png");
  background-repeat: no-repeat; /* Para evitar repetição */

}
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    padding: 20px 40px;
    border-radius: 10px; 
    text-align: center;
    
  }
  
  .title {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
    color: #000000;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha os itens à esquerda */
    color: #0b0b0b;
  }
  
  .button {
    width: 100%;
    max-width: 150px;
    font-weight: bold;
    height: 6vh;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 8px;
    margin-left: 5px; /* Remova a margem esquerda */
    margin-right: 5px; /* Remova a margem direita */
  }
  
  .hidden {
    display: none;
  }
  
  .button:hover {
    background-color: black;
    color: #FFF;
  }
  
  @media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
    .title {
      font-size: 20px;
    }
    .button {
      width: 80%;
      max-width: none;
    }
  }
  