body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url("../src/bgg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; /* Adicionado para cobrir todo o fundo */
  background-position: center; /* Adicionado para centralizar a imagem de fundo */
}

.container {
  position: relative;
  margin: 0 auto; /* Centralizar o conteúdo */
  width: 100%;
  max-width: 600px;
  padding: 100px 200px;
  border-radius: 10px;
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
  color: #000000;
}

.question{
  font-size: large;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #0b0b0b;
}

.button {
  width: 100%;
  max-width: 400px;
  font-weight: bold;
  height: 75px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.button:hover {
  background-color: black;
  color: #FFF;
}

@media screen and (max-width: 400px) {
  .container {
    padding: 50px; /* Aumentando a margem */
  }
  .title {
    font-size: 24px; /* Diminuindo o tamanho do h1 */
  }
  .button {
    width: 80%;
    max-width: none;
  }
}
