body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url("./bgg.png");
  background-repeat: no-repeat; /* Para evitar repetição */

}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  padding: 20px 40px;
  border-radius: 10px; 
  text-align: center;
  /* From https://css.glass */
background: rgba(193, 193, 193, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(151, 151, 151, 0.3);
}

.container img{
  width: 200px;
  height: 230px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
  color: #000000;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinha os itens à esquerda */
  color: #0b0b0b;
}

.button {
  width: 100%;
  max-width: 150px;
  font-weight: bold;
  height: 6vh;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 253, 253);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 8px;
  margin-left: 0; /* Remova a margem esquerda */
  margin-right: 0; /* Remova a margem direita */
}

a {
  text-decoration: none;
  color: inherit; /* Mantendo a cor do texto padrão */
}

/* Mudando o cursor para mão quando passar por cima */
a:hover {
  cursor: pointer;
}


.button:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
  .title {
    font-size: 20px;
  }
  .button {
    width: 80%;
    max-width: none;
  }
}
